/*
///////////////////////// Button //////////////////////////////////
*/

.btn {
	display: flex;
	margin: 0.125vh 1vw;

	font-weight: 400;
	align-items: center;
	justify-content: center;

	border: 1px solid transparent;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	padding: 0.125vh 0.75vw;
	font-size: 1.5vw;
	line-height: 1.5;
	border-radius: 0.5vw;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media (max-width: 768px) {
	.btn {
		font-size: 3.75vw;
	}
}
.btnFitContent {
	margin: auto 1vw;
	height: max-content;
}

/*
///////////////////////// Button Base //////////////////////////////////
*/

.skewedSlideContainer {
	width: 100%;
	justify-content: center;
	margin: 0vh 0vw 1vh 0vw;
}

.demobutton{
	position: relative;
	margin: 0vh 0vw;
	padding: 0vh 0vw;
	width: 120px;
	height: 30px;
	font-size: 22px;
}

.demobutton:hover {
	cursor: pointer;
}

.allProjectsButton {
	border: 0;	
	position: relative;
	font-size: 22px;
	width: 190px; 
	height: 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-user-select: none;
	cursor: default;
}

/*
///////////////////////// Skewed Slide Button //////////////////////////////////
*/

.buttonSkewedSlide {
	overflow: hidden;
}

.buttonSkewedSlide div {
	position: absolute;
	width: 100%;
	height: 100%;
}

.buttonSkewedSlide div:nth-child(1) {
	color: #58bc00;
	background-color: rgb(0, 85, 179);
}

.buttonSkewedSlide div:nth-child(2) {
	background-color: #007fff;
	width: 125%;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform: translate(-180%, 0%) skewX(-30deg);
	-webkit-transform: translate(-180%, 0%) skewX(-30deg);
	-moz-transform: translate(-180%, 0%) skewX(-30deg);
}

.buttonSkewedSlide div:nth-child(3) {
	color: #58bc00;
	left: -200%;
	transition: left 0.2s ease;
	-webkit-transition: left 0.2s ease;
	-moz-transition: left 0.2s ease;
}

.buttonSkewedSlide:hover div:nth-child(2) {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transform: translate(-15px, 0px) skewX(-30deg);
	-webkit-transform: translate(-15px, 0px) skewX(-30deg);
	-moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.buttonSkewedSlide:hover div:nth-child(3) {
	left: 0%;
	transition: left 0.3s ease;
	-webkit-transition: left 0.3s ease;
	-moz-transition: left 0.3s ease;
}

/*
///////////////////////// Double Roll Button //////////////////////////////////
*/

.buttonDoubleRoll3D {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	perspective: 500px;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.buttonDoubleRoll3D div {
	text-align: center;
	padding: 10px;
	border: #007fff solid 2px;
	pointer-events: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.buttonDoubleRoll3D div:nth-child(1) {
	color: #fff;
	width: 100%;
	height: 50px;
	clip: rect(0px, 100px, 50px, 0px);
	position: absolute;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform-origin: 50% 50% -25px;
	-webkit-transform-origin: 50% 50% -25px;
	-moz-transform-origin: 50% 50% -25px;
}

.buttonDoubleRoll3D div:nth-child(2) {
	color: #007fff;
	background-color: #000000;
	z-index: -1;
	width: 100%;
	height: 50px;
	clip: rect(0px, 100px, 50px, 0px);
	position: absolute;
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform-origin: 50% 50% -25px;
	-webkit-transform-origin: 50% 50% -25px;
	-moz-transform-origin: 50% 50% -25px;
}

.buttonDoubleRoll3D div:nth-child(3) {
	color: #fff;
	width: 100%;
	height: 50px;
	clip: rect(0px, 200px, 50px, 100px);
	position: absolute;
	transition: all 0.2s ease 0.1s;
	-webkit-transition: all 0.2s ease 0.1s;
	-moz-transition: all 0.2s ease 0.1s;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform-origin: 50% 50% -25px;
	-webkit-transform-origin: 50% 50% -25px;
	-moz-transform-origin: 50% 50% -25px;
}

.buttonDoubleRoll3D div:nth-child(4) {
	color: #000000;
	background-color: #000000;
	z-index: -1;
	width: 100%;
	height: 50px;
	clip: rect(0px, 200px, 50px, 100px);
	position: absolute;
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transition: all 0.2s ease 0.1s;
	-webkit-transition: all 0.2s ease 0.1s;
	-moz-transition: all 0.2s ease 0.1s;
	transform-origin: 50% 50% -25px;
	-webkit-transform-origin: 50% 50% -25px;
	-moz-transform-origin: 50% 50% -25px;
}

.buttonDoubleRoll3D:hover div:nth-child(1) {
	background-color: #000000;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
}

.buttonDoubleRoll3D:hover div:nth-child(2) {
	color: #007fff;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}

.buttonDoubleRoll3D:hover div:nth-child(3) {
	background-color: #000000;
	transition: all 0.2s ease 0.1s;
	-webkit-transition: all 0.2s ease 0.1s;
	-moz-transition: all 0.2s ease 0.1s;
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
}

.buttonDoubleRoll3D:hover div:nth-child(4) {
	color: #007fff;
	transition: all 0.2s ease 0.1s;
	-webkit-transition: all 0.2s ease 0.1s;
	-moz-transition: all 0.2s ease 0.1s;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}
