.connectWithMe-icons {
	color: #f8f9fa;
	padding: 0vh 0vw 0vh 0vw; /* top right bottom left */
	margin: 0vh 0vw 0vh 0vw; /* top right bottom left */
	display: list-item;

	vertical-align: middle;
	list-style: none;
}
.connectWithMe-icons li {
	padding: 0vh 1vw 0vh 0vw; /* top right bottom left */
	vertical-align: middle;
	display: inline;
}

.borderedIcon {
	color: #f8f9fa; /* Offwhite */
	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;
	transition: fill 0.3s ease 0s, stroke 0.3s ease 0s;
}

.resumeClass,
.resumeClass a {
	font-size: 4.0vw;
	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-color: #FF8080;
	-webkit-text-stroke-width: 1.5px;
	transition: fill 0.3s ease 0s, stroke 0.3s ease 0s;
}
.resumeClass a:hover {
	-webkit-text-fill-color: #FF8080; /* Will override color (regardless of order) */
	fill: #FF8080;
}

.svgResume {
	fill: black;
	stroke-width: 0.3px;
	stroke: #FF8080;
	overflow: visible;
}

.fa {
	font-size: 3.25vw;
	padding: 0vh 0vw 0vh 0.5vw;
}
/* Medium devices (desktops, 992px and up) --> Value used by bootstrap */
/* Small devices (tablets, 768px and up) --> Value used by bootstrap */
@media (max-width: 950px) {
	.connectWithMe-icons{
		padding: 1.25vh 0vw 0vh 3.5vw;
	}
	.fa {
		font-size: 7.5vw;
		padding: 0vh 0vw 0vh 2vw;
	}
	.resumeClass,
	.resumeClass a {
		font-size: 9vw;
		padding: 0vh 0vw 0vh 1.5vw;
	}
}
@media (max-width: 750px) {
	.connectWithMe-icons{
		padding: 1vh 0vw 0vh 7vw;
	}
	.fa {
		font-size: 10vw;
		padding: 0vh 0vw 0vh 1vw;
	}
	.resumeClass,
	.resumeClass a {
		font-size: 11vw;
		padding: 0vh 0vw 0vh 3vw;
	}
}

.fa-envelope {
	-webkit-text-stroke-color: #64b1ff;
}
.fa-envelope:hover {
	-webkit-text-fill-color: #64b1ff;
}

.fa-linkedin {
	-webkit-text-stroke-color: #0073a4;
}
.fa-linkedin:hover {
	-webkit-text-fill-color: #0073a4;
}

.fa-github {
	-webkit-text-stroke-color: #6e5494;
}
.fa-github:hover {
	-webkit-text-fill-color: #6e5494;
}

.fa-vimeo {
	-webkit-text-stroke-color: #1ab7ea;
}
.fa-vimeo:hover {
	-webkit-text-fill-color: #1ab7ea;
}