.introMsg {
	display:inline-block;
	width: 100vw; 
	padding: 5vh 12vw;
	margin: 0vh 0vw;	
	color: rgb(180, 180, 180);
}
.introMsg h1{
	font-size: 3rem;
	padding: 0vh 0vw;
	margin: 0vh 0vw 0.5vh 0vw;
}
.introMsg p{
	font-size: 2rem;
	padding: 0vh 0vw;
	margin: 0vh 0vw;
}
.introMsg .separator{
	font-size: 2.5rem;
}
.introMsg a{
	font-size: 2.2rem;
}
.introMsg img {
    width: 12rem;
	height: auto;
	text-align: center;
}

.greyText {
	color: rgb(180, 180, 180);
}
.greyText a {
	color: rgb(204, 173, 249);
}
.greyText a:hover {
	color: #007fff;
}

.nameText {
	color: rgb(204, 173, 249);
}
.professionText {
	color: rgb(220, 220, 220);
}

.gradientText1 {
	background-image: linear-gradient(45deg, rgb(50, 221, 240), rgb(182, 145, 255) 40%, rgb(243, 104, 62)); 
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: none;
}


.projectDisplay{
	padding: 0vh 0vw;
	margin: 0vh 0vw;
}

.projectDisplay img{
    width: 12rem;
	height: auto;
	text-align: center;
}