html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	text-align: center;

	line-height: 1.25;

	color: #f8f9fa;
	background: rgba(0,0,0,1);
	text-shadow: -1px -1px 0 #000,
				  1px -1px 0 #000,
				 -1px  1px 0 #000,
				  1px  1px 0 #000; 
}

p {
	font-size: 20px;
}
p.small {
	font-size: 16px;
}
a{
	color: #f8f9fa;
}
a:hover,
a:focus {
	color: #007fff;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.05em;
}

hr{
	margin: 15px; /*20px 0px 20px -20px;*/
	border: none;
	border-top: 1px solid #fff;
}


.row{
	padding: 0vh 0vw;
	margin: 0vh 0vw;
}

.container-fluid {
	padding: 0vh 0vw;
	margin: 0vh 0vw;
}


.footer {
	color: #f8f9fa;
	padding: 8px;
	font-size: 12px;
	background-color: rgba(0,0,0,1);
}

/*
///////////////////////// Cards //////////////////////////////////
*/

.card-columns{	
	column-count: 1;
	margin: 0vh 0vw;
}

.card{
	background: rgb(0, 0, 0);
	margin: 0vh 0vw;
	border: 2px solid rgb(55, 55, 55);
	border-radius: 0.25rem;
}

.card p {
	text-shadow: none;
}

@media (min-width: 400px) {
	.card-columns {
		column-count: 1;
	}
	.card-columns .card {
		margin: 0vh 0vw 2vh 0vw;
	}
}
@media (min-width: 768px) {
	.card-columns {
		column-count: 2;
	}
}
@media (min-width: 1000px) {
	.card-columns {
		column-count: 3;
	}
}

/*
///////////////////////// Dropdown Menu //////////////////////////////////
*/

.dropdown-menu {
	background-color: #252525;
	background-clip: border-box;
	border: 1px solid rgb(204, 173, 249);
	border-radius: 1vw;
	text-shadow: none;
	width: 12vw;
}
.dropdown-item {
	color: #fff;
	border: none;
	border-radius: 0.5vw;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #007fff;
    background-color: #252525;
}
.dropdown-divider {
	width: 90%;
	border-top: none;
	border-bottom: 1px solid #1c721e;
	margin: 0.25vh 5%;
}

/*
///////////////////////// Project Content Container //////////////////////////////////
*/

.project {
	margin: 0vh 0vw;
	padding: 1vh 1vw 0vh 1vw;
	width: 100%;
	background-color: #1b1b1b;	
}  
.project .title{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	font-size: 1.75vw;
	padding: 1vh 1vw 1vh 1vw;	
}
@media (max-width: 768px) {
	.project .title{
		font-size: 3.75vw;
	}
}
.emptycard {
	background-color: #000;
	border: none;
}
.emptycard .project{
	background-color: #000;
}

/*
///////////////////////// Video Wrapper //////////////////////////////////
*/

.videoContainer {
	position:relative;
	width:100%;
	padding-bottom:59%;	
}
.videoWrapperModal {
	/* position: relative; */
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe,
.videoWrapperModal iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
///////////////////////// Image Wrapper //////////////////////////////////
*/

.ImageContainer {
	position:relative;
	width:100%;
}