.navbar-custom {
	background: rgba(0.01,0.01,0.01,0.35);
	
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 16px;

	border: none;
	padding: 5px 12px 5px 12px; /* top right bottom left */
	margin: 0vh 0vw 0vh 0vw; /* top right bottom left */
}
.navbar-custom .navbar-brand {
	color: #f4f1f1;
	font-size: 30px;
}
.navbar-custom .navbar-toggler {
	color:#f4f1f1;
	text-transform: uppercase;
	font-size: 10px;
	border-color: #f4f1f1;
}


.navbar-custom .navbar-nav {
	letter-spacing: 1px;
}
.navbar-custom .navbar-nav li {
	padding: 0vh 0.5vw 0vh 0vw; /* top right bottom left */
	text-align: center;
}
.navbar-custom .navbar-nav li a {
	color: #f4f1f1;
}
.navbar-custom .navbar-nav li a:hover {
	color: #007fff;
}
.navbar-custom .navbar-nav li img {
	width:2rem; /* you can use % */
	height: auto;
	text-align: center;
}

.webpage-links {
	color: #f8f9fa;	
	padding: 0vh 0vw 0vh 0vw; /* top right bottom left */
	margin: 0vh 0vw 0vh 0vw; /* top right bottom left */
}
.webpage-links li {
	padding: 0vh 1vw 0vh 0vw; /* top right bottom left */
	vertical-align: middle;
	display: inline;
}