.colorWhite {
    color: #d7d7d7; /* #f8f9fa; */
}

.content {
	color: rgb(130, 130, 130);
	margin: 0vh 0vw 0vh 0vw;
}
.content .AlignText {
	text-align: center;
}

.topSeparation{
	padding: 2vh 0vw 0vh 0vw;
}

.content p,
.content a {
	font-size: 2vw;
	padding: 0vh 0vw 0vh 0vw;
	margin: 0vh 0vw 0vh 0vw;
}

/* Medium devices (desktops, 992px and up) --> Value used by bootstrap */
/* Small devices (tablets, 768px and up) --> Value used by bootstrap */
@media (max-width: 950px) {
	.content p,
	.content a {
		font-size: 3.75vw;
	}
}
@media (max-width: 750px) {
	.content p,
	.content a {
		font-size: 6vw;
	}
}


.BioPic {
	color: rgb(204, 173, 249);
}
.BioPic img {
	vertical-align: middle;
	border-style: none;
	width: 38vw;
}

/* Medium devices (desktops, 992px and up) --> Value used by bootstrap */
/* Small devices (tablets, 768px and up) --> Value used by bootstrap */
@media (max-width: 950px) {
	.BioPic img {		
		width: 60vw;
	}
}
@media (max-width: 750px) {
	.BioPic img {		
		width: 75vw;
	}
}


.reelText {
	color: rgb(180, 180, 180);
}
.reelText a {
	font-size: 4.5vw;
	color: rgb(173, 255, 91);
}
.reelText a:hover {
	color: #007fff;
}
.resumeText {
	color: rgb(180, 180, 180);
}
.resumeText a {
	font-size: 4.5vw;
	color: rgb(255, 128, 128);
}
.resumeText a:hover {
	color: #007fff;
}

.connectWithMe-icons-big a {
	font-size: 5vw;
}

@media (min-width: 768px) { 
	.reelText a {
		font-size: 3.5vw;
	}
	.resumeText a {
		font-size: 3.5vw;
	}
	.social-icons-big a {
		font-size: 4vw;
	}
}