.colorWhite {
    color: #d7d7d7; /* #f8f9fa; */
}

.content {
	color: rgb(130, 130, 130);
	padding-left: 15px;
}
.content .AlignText {
	text-align: center;
}
.content .reddish {
	color: #cc7070;
}


.content p{
	font-size: 3.5vw;
	padding: 0vh 0vw;
	margin: 0vh 0vw;
}
.content .separator{
	font-size: 3.75vw;
}
.content a{
	font-size: 3.5vw;
}
.content img {
    width: 30vw;
	height: auto;
	text-align: center;
}
.content .EmphasizeName {
	color: #21dfff;; /* #a0df6c; */
	font-size: 5.5vw;
}
.content .EmphasizeTitle {
	color: #dcfaff; /* #a0df6c; */
	font-size: 4.0vw;
}


/* Medium devices (desktops, 992px and up) --> Value used by bootstrap */
/* Small devices (tablets, 768px and up) --> Value used by bootstrap */
@media (min-width: 768px) {
	.content {
		padding-left: 25px;
	}
	.content .AlignText {
		text-align: left;
	}
	
	.content p{
		font-size: 2vw;
	}
	.content .separator{
		font-size: 2.25vw;
	}
	.content a{
		font-size: 2vw;
	}
	.content img {
		width: 20vw;
	}
	.content .EmphasizeName {
		font-size: 4vw;
	}
	.content .EmphasizeTitle {
		font-size: 2.5vw;
	}
}


.BioPic {
	color: rgb(204, 173, 249);
}
.BioPic img {
	vertical-align: middle;
	border-style: none;
	width: 60vw;
}

.topSeparation {
	padding-top: 3vh;
}

/* Medium devices (desktops, 992px and up) --> Value used by bootstrap */
/* Small devices (tablets, 768px and up) --> Value used by bootstrap */
@media (min-width: 768px) { 
	.BioPic img {		
		width: 30vw;
	}

	.topSeparation {
		padding-top: 1.5vh;
	}
}


.reelText {
	color: rgb(180, 180, 180);
}
.reelText a {
	font-size: 4.5vw;
	color: rgb(173, 255, 91);
}
.reelText a:hover {
	color: #007fff;
}
.resumeText {
	color: rgb(180, 180, 180);
}
.resumeText a {
	font-size: 4.5vw;
	color: rgb(255, 128, 128);
}
.resumeText a:hover {
	color: #007fff;
}

.connectWithMe-icons-big a {
	font-size: 5vw;
}

@media (min-width: 768px) { 
	.reelText a {
		font-size: 3.5vw;
	}
	.resumeText a {
		font-size: 3.5vw;
	}
	.social-icons-big a {
		font-size: 4vw;
	}
}