h1, h2 {
	margin: 0vh 0vw;
}
.heading-center {
	text-align: center;
	margin: 3vh 0vw 0vh 0vw;
}
.heading-left {
	text-align: left;
	padding-left: 2vw;
	margin: 0vh 0vw;
}

.pageheading h3 {
    text-align: left;
    padding: 0vh 0vw 0vh 2vw;
}

a {
	margin: auto 0vw;
}

.project .title {
	padding: 0.25vh 1vw 0.25vh 1vw;
}

/*
///////////////////////// Image Carousel //////////////////////////////////
*/

.carousel-item {
	width: 100%;
	height: auto;
}
.carousel-item-3DModelling {
	width: 105%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px;
	height: 30px;
}