.introMsg {
	color: rgb(180, 180, 180);
	padding-left: 25px;
}
.introMsg p{
	font-size: 3.2vw;
	padding: 0vh 0vw;
	margin: 0vh 0vw;
}
.introMsg .separator{
	font-size: 3.75vw;
}
.introMsg a{
	font-size: 3.5vw;
}
.introMsg img {
    width: 20vw;
	height: auto;
	text-align: center;
}

/* Medium devices (desktops, 992px and up) --> Value used by bootstrap */
/* Small devices (tablets, 768px and up) --> Value used by bootstrap */
@media (max-width: 900px) {
	.introMsg {
		padding-left: 15px;
	}
	.introMsg p{
		font-size: 6vw;
	}
	.introMsg .separator{
		font-size: 7vw;
	}
	.introMsg a{
		font-size: 6.5vw;
	}
	.introMsg img {
		width: 35vw;
	}
}


.topSeparation {
	padding-top: 2vh;
}
.projectDisplay{
	padding: 0vh 0vw;
	margin: 0vh 0vw;
}
.projectDisplay img{
	width: 19vw;
	height: auto;
	text-align: center;
	padding-bottom: 2px;
}
.projectDisplay img:hover{
	background: #007fff;
	padding: 3px;
}

.rounded {
	border-radius: 1.5vw !important;
}

/* Medium devices (desktops, 992px and up) --> Value used by bootstrap */
/* Small devices (tablets, 768px and up) --> Value used by bootstrap */
@media (max-width: 900px) {
	.topSeparation {
		padding-top: 4vh;
	}

	.projectDisplay img{
		width: 35vw;
	}
}

.reelText {
	color: rgb(180, 180, 180);
}
.reelText a {
	color: rgb(173, 255, 91);
}
.reelText a:hover {
	color: #007fff;
}
.resumeText {
	color: rgb(180, 180, 180);
}
.resumeText a {
	color: rgb(255, 128, 128);
}
.resumeText a:hover {
	color: #007fff;
}

.nameText {
	color: #f8f9fa;
	/* text-shadow: -1px -1px rgb(255, 128, 128), 1px 1px rgb(173, 255, 91), 1px -1px #007fff, -1px 1px #007fff; */	
}
.professionText {
	color: rgb(188, 188, 188);
}

.gradientText1 {
	background-image: linear-gradient(45deg, rgb(50, 221, 240), rgb(182, 145, 255) 40%, rgb(243, 104, 62)); 
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: none;
	padding: 0px 4px;
}