.introMsg {
	color: rgb(180, 180, 180);
	padding-left: 25px;
}
.introMsg p{
	font-size: 1.6vw;
	padding: 0vh 0vw;
	margin: 0vh 0vw;
}
.introMsg .separator{
	font-size: 3.75vw;
}
.introMsg a{
	font-size: 1.7vw;
}
.introMsg img {
    width: 20vw;
	height: auto;
	text-align: center;
}

/* Medium devices (desktops, 992px and up) --> Value used by bootstrap */
/* Small devices (tablets, 768px and up) --> Value used by bootstrap */
@media (max-width: 900px) {
	.introMsg {
		padding-left: 15px;
	}
	.introMsg p{
		font-size: 6vw;
	}
	.introMsg .separator{
		font-size: 7vw;
	}
	.introMsg a{
		font-size: 6.5vw;
	}
	.introMsg img {
		width: 35vw;
	}
}


.topSeparation {
	padding-top: 2vh;
}
.projectDisplay{
	padding: 0vh 0vw;
	margin: 0vh 0vw;
}
.projectDisplay img{
	width: 19vw;
	height: auto;
	text-align: center;
	margin-bottom: 2px;
}

.rounded {
	border-radius: 1.5vw !important;
}

/* Medium devices (desktops, 992px and up) --> Value used by bootstrap */
/* Small devices (tablets, 768px and up) --> Value used by bootstrap */
@media (max-width: 900px) {
	.topSeparation {
		padding-top: 4vh;
	}

	.projectDisplay img {
		width: 100%;
		padding-bottom: 0px;
	}

	.row {
		margin: 0px;
		padding: 0px;
	}

	.col-sm-12 {
		margin: 0px;
		padding: 0px;
	}

	.rounded {
		border-radius: 1.0vw !important;
	}
}


.hightlightText {
	color: #f8f9fa;
	/* text-shadow: -1px -1px rgb(255, 128, 128), 1px 1px rgb(173, 255, 91), 1px -1px #007fff, -1px 1px #007fff; */	
}
.hightlightText a:hover {
	color: #007fff;
}
.hollowLogo img {
	background-color: #f8f9fa;	
}
.hollowLogo img:hover {
	background-color: #007fff;
}

.NameStyle {
	font-size: 5vw;
	color: #fff;
}
.ProfessionStyle {
	font-size: 2.6vw;
	color: #f8f9fa;
}

.SubPageLink,
.SubPageLink a {
	font-size: 4.0vw;
	padding: 0vh 0vw 0vh 0vw;
}
.SubPageLink ul li  {
	padding: 0vh 1vw;
}

@media (max-width: 950px) {
	.SubPageLink,
	.SubPageLink a{
		font-size: 10vw;
		line-height: 1.15;
	}
	.SubPageLink ul li  {
		display: block;
	}
	.NameStyle{
		font-size: 12vw;
	}
	.ProfessionStyle{
		font-size: 6vw;
	}
}
@media (max-width: 750px) {
	.SubPageLink,
	.SubPageLink a {
		font-size: 13vw;
	}
	.SubPageLink ul li  {
		display: block;
	}
	.NameStyle{
		font-size: 12vw;
	}
	.ProfessionStyle{
		font-size: 6vw;
	}
}

.connectWithMe-iconsFrontPage{
	padding: 0.5vh 0vw 0vh 1.75vw;
}
.fa-FrontPage {
	font-size: 2.5vw;
	padding: 0vh 0vw 0vh 0.35vw;
}
.resumeClassFrontPage,
.resumeClassFrontPage a {
	font-size: 3vw;
	padding: 1vh 0vw 0vh 0.5vw;
}

@media (max-width: 950px) {
	.connectWithMe-iconsFrontPage{
		padding: 0vh 0vw 0vh 1.5vw;
	}
	.fa-FrontPage {
		font-size: 4.6vw;
		padding: 0vh 0vw 0vh 0.75vw;
	}
	.resumeClassFrontPage,
	.resumeClassFrontPage a {
		font-size: 5.5vw;
		padding: 1vh 0vw 0vh 0.5vw;
	}
}
@media (max-width: 750px) {
	.connectWithMe-iconsFrontPage{
		padding: 1.5vh 0vw 0vh 3vw;
	}
	.fa-FrontPage{
		font-size: 7.5vw;
		padding: 0vh 0vw 0vh 0.75vw;
	}
	.resumeClassFrontPage,
	.resumeClassFrontPage a {
		font-size: 8.25vw;
		padding: 0vh 0vw 0vh 1vw;
	}
}